/* style.css */

.highlight {
  background-color: yellow;
  color: black;
}

.pii-highlight-tooltip {
  color: black;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
  z-index: 1000;
  max-width: 100%;
  white-space: pre-wrap;
  max-height: 150px;
  overflow-y: scroll;
}

.replace-button,
.detect-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1001; /* Ensure the button is above other elements */
}

.replace-button:hover,
.detect-button:hover {
  background-color: #0056b3;
}

.highlight-pii-in-displayed-message {
  position: relative;
  cursor: pointer;
}
